/Exer.py
/Exercice_CH4.py
/Exercice_CH4_6.py
/Exercice_CH4_7.py
/Exercice_CH5.py
/Exercice_CH5_2.PY
/Exercice_ChatGPT2.py
/Exercice_ChatGPT3.py
/exercice_eco
/exercice_econometrics.py
/Exerciche_ChatGPT.py
/frfrf.py
/PyDeri
/trtr.py